[submodule "HyperLiquid-Agent"]
	path = HyperLiquid-Agent
	url = https://github.com/dhananjaypai08/HyperLiquid-Agent.git
[submodule "references/hyber-arbitrage"]
	path = references/hyber-arbitrage
	url = https://github.com/Jackhuang166/hyberliquid-arbitrage-bot.git
[submodule "references/nofx"]
	path = references/nofx
	url = https://github.com/NoFxAiOS/nofx.git
[submodule "references/ai-trading-agent"]
	path = references/ai-trading-agent
	url = https://github.com/Gajesh2007/ai-trading-agent.git
